#root {
    background-image: url("./images/bg.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    
  }

  #spotifyButton{
      border-color: #35BA1E;
      background-color: #1DB954;
      
  }

  .ml-5 {
      margin-left: 1%;
  }